/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000031}}
.breadcrumb {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000036}}
ul.menu li, ul.menu li.leaf {
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000038}}
  ul.menu li a, ul.menu li.leaf a {
    color: white;
    text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
.main-menu ul {
  line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000318}}
  .main-menu ul li.last {
    float: right;
    padding-right: 1.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000322}}
  .main-menu ul a {
    text-decoration: none;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    background-color: #666666;
    display: inline-block;
    width: 80%;
    padding: 0 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000332}}
    .main-menu ul a:hover, .main-menu ul a.active-trail {
      background-color: #bba656; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000337}}
  .main-menu ul a.donate {
    line-height: 80px;
    margin-top: -10px;
    background-color: #c5b270; }
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000345}}
  .main-menu ul {
    background-color: #bba656;
    height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000348}}
    .main-menu ul li {
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000351}}
    .main-menu ul a {
      display: block;
      width: inherit;
      background-color: inherit; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_media\.scss}line{font-family:\000035}}
.site-logo img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_typography\.scss}line{font-family:\000031}}
body {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
a {
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\000031}}
body {
  background-color: #101315; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\000037}}
  body .l-header,
  body .l-main,
  body .l-footer {
    background-color: #101315;
    padding-bottom: 20px;
    margin-bottom: 0; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000315}}
  body {
    background-color: #666666; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000321}}
.l-main h1 {
  padding: 0.7em 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000328}}
.sidebar-navigation ul {
  padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000331}}
.sidebar-navigation li {
  line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000333}}
  .sidebar-navigation li a {
    color: white;
    padding: 0 1em;
    text-decoration: none;
    background-color: #666666;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000339}}
    .sidebar-navigation li a:hover {
      background-color: #bba656; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000348}}
.header-slogan {
  display: none;
  margin: 1.5em 2em 0.5em;
  line-height: 1.7em; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000356}}
  .header-slogan {
    display: block;
    font-size: 2.5vmax; } }
@media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000363}}
  .header-slogan {
    font-size: 1.7em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000370}}
.sidebar-branding {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000373}}
  .sidebar-branding .branding-item {
    margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000376}}
    .sidebar-branding .branding-item .image {
      background: url(../images/sidebar-hold.png) no-repeat center;
      height: 150px;
      margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000382}}
  .sidebar-branding .prevention .image {
    background-image: url(../images/sidebar-stop.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000385}}
  .sidebar-branding .education .image {
    background-image: url(../images/sidebar-write.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000390}}
#off-canvas {
  background-color: #101315;
  position: fixed; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000396}}
  #off-canvas {
    position: inherit; } }
