/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_forms\.scss}line{font-family:\000031}}
input {
  color: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000031}}
.breadcrumb {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000036}}
ul.menu li, ul.menu li.leaf {
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\000038}}
  ul.menu li a, ul.menu li.leaf a {
    color: white;
    text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
.main-menu ul {
  line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000318}}
  .main-menu ul a {
    text-decoration: none;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    background-color: #666666;
    display: inline-block;
    width: 80%;
    padding: 0 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000328}}
    .main-menu ul a:hover, .main-menu ul a.active-trail {
      background-color: #bba656; }
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000336}}
  .main-menu ul {
    background-color: #bba656;
    height: 60px;
    margin: 0 -1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000340}}
    .main-menu ul li {
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000343}}
    .main-menu ul li.last {
      float: right;
      padding-right: 1.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000347}}
    .main-menu ul a {
      display: block;
      width: inherit;
      background-color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000352}}
    .main-menu ul a.donate {
      line-height: 80px;
      margin-top: -10px;
      background-color: #c5b270;
      border-radius: 10px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000362}}
.menu-name-menu-footer {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000369}}
  .menu-name-menu-footer .menu {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000379}}
    .menu-name-menu-footer .menu li {
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000388}}
      .menu-name-menu-footer .menu li + li a {
        border-left: 1px solid #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\0000392}}
      .menu-name-menu-footer .menu li a {
        display: block;
        margin: 0 0 0 1px;
        padding: 3px 10px;
        background: 000000;
        color: #ffffff;
        text-decoration: none;
        line-height: 1.3em;
        font-size: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\00003102}}
        .menu-name-menu-footer .menu li a:hover {
          background: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_lists\.scss}line{font-family:\00003107}}
        .menu-name-menu-footer .menu li a.active, .menu-name-menu-footer .menu li a.active:hover {
          background: #666666;
          font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_media\.scss}line{font-family:\000035}}
.site-logo img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_typography\.scss}line{font-family:\000031}}
body {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
a {
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\000031}}
body {
  background-color: #101315; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\000037}}
  body .l-header,
  body .l-main,
  body .l-footer {
    background-color: #101315;
    padding-bottom: 20px;
    margin-bottom: 0; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000315}}
  body {
    background-color: #666666; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000321}}
.l-main h1 {
  padding: 0.7em 0;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000325}}
.l-main h1, .l-main h2, .l-main h3 {
  color: #bba656; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000331}}
.sidebar-navigation ul {
  padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000334}}
.sidebar-navigation li {
  line-height: 40px;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000337}}
  .sidebar-navigation li a {
    color: white;
    padding: 0 1em;
    text-decoration: none;
    background-color: #666666;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000343}}
    .sidebar-navigation li a:hover {
      background-color: #bba656; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000352}}
.header-slogan {
  display: none;
  margin: 1.5em 2em 0.5em;
  line-height: 1.7em; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000360}}
  .header-slogan {
    display: block;
    font-size: 2.5vmax; } }
@media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000367}}
  .header-slogan {
    font-size: 1.7em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000374}}
.sidebar-branding {
  text-align: center;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000378}}
  .sidebar-branding .branding-item {
    margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000381}}
    .sidebar-branding .branding-item h4 {
      font-size: 22px;
      margin: 0 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000385}}
    .sidebar-branding .branding-item p {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000390}}
    .sidebar-branding .branding-item .image {
      background: url(../images/sidebar-hold.png) no-repeat center;
      height: 150px;
      margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000396}}
  .sidebar-branding .prevention .image {
    background-image: url(../images/sidebar-stop.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\0000399}}
  .sidebar-branding .education .image {
    background-image: url(../images/sidebar-write.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\00003104}}
#off-canvas {
  background-color: #101315;
  position: fixed; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\00003110}}
  #off-canvas {
    position: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\00003113}}
  .sidebar-branding {
    display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\00003118}}
.footer-copyright {
  margin-top: -17px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/safe\/sites\/all\/themes\/safe\/sass\/components\/_regions\.scss}line{font-family:\00003122}}
.block--menu-block-4 {
  height: 35px; }
