body {
  background-color: $black;

  .l-header,
  .l-main,
  .l-footer {
    background-color: $black;
  }
}

@media (min-width: 700px) {
  .header-slogan {
    display: block;
    font-size: 2.2vmax;
  }
}

@media (min-width: 1250px) {
  .header-slogan {
    font-size: 1.7em;
  }
}

ul li,
.main-menu ul li  {
  a:hover,
  a.active-trail {
    background-color: $red;
  }
}


.main-menu {
  @media (min-width: 700px) {
    ul {
      background-color: $red;
    }
  }
}

.l-main h1, h2, h3 {
  color: $red;
}