$black          : #101315;
$grey           : #666666; 
$white          : #ffffff; 
$blue           : #29aae2; 
$green          : #8cc63f; 
$pink           : #d91c5c;
$red            : #ce3233;
$gold           : #bba656; 
$pale_gold      : #c5b270;

