.breadcrumb {
  display: none;
}

ul.menu {
  li, li.leaf {
    list-style: none;
    a {
      color: $white;
      text-transform: uppercase;
    }
  }
}

.main-menu {
  ul {
    line-height: 60px;
    a {
      text-decoration: none;
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 60px;
      background-color: $grey;
      display: inline-block;
      width: 80%;
      padding: 0 1em;
      &:hover, &.active-trail {
        background-color: $gold;
      }

    }
  }

  @media (min-width: 700px) {
    ul {
      background-color: $gold;
      height: 60px;
      margin: 0 -1%;
      li {
        float: left;
      }
      li.last {
        float: right;
        padding-right: 1.5%;
      }
      a {
        display: block;
        width: inherit;
        background-color: inherit;
      }
      a.donate {
        line-height: 80px;
        margin-top: -10px;
        background-color: $pale_gold;
        border-radius: 10px;
      }
    }
  }
}

