.breadcrumb {
  display: none;
}

ul.menu {
  li, li.leaf {
    list-style: none;
    a {
      color: $white;
      text-transform: uppercase;
    }
  }
}

.main-menu {
  ul {
    line-height: 60px;
    li.last {
      float: right;
      padding-right: 1.5%;
    }
    a {
      text-decoration: none;
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 60px;
      background-color: $grey;
      display: inline-block;
      width: 80%;
      padding: 0 1em;
      &:hover, &.active-trail {
        background-color: $gold;
      }

    }
    a.donate {
      line-height: 80px;
      margin-top: -10px;
      background-color: $pale_gold;
    }
  }

  @media (min-width: 700px) {
    ul {
      background-color: $gold;
      height: 60px;
      li {
        float: left;
      }
      a {
        display: block;
        width: inherit;
        background-color: inherit;
      }
    }
  }
}

